html { 
	background-color:#092E20; 
}

body { 
	position:relative;
	border-radius:8px; 
	box-shadow:black 0px 0px 2px; 
	width: 1250px; 
	background:#FFF; 
	margin:20px auto; 
	border:solid 1px black; 
	font-family: arial, sans-serif; 
}
#buttons {
	text-align:center;
}

a img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;			
}
button {
	height:30px;
	width:100px;
	margin:8px auto;
}
img.preload {
	display:none;
}
h1 {
	font-size:60px;
	text-align:center;
	padding:0px;
	margin:10px auto;
}

#card-table {
	background-color:green;
	height:800px;
	width:1250px;
}
a:visited {color:blue;}

#players {
	position: absolute;
	left:580px;
	top:240px;
}
#deal {
	position: absolute;
	left:570px;
	top:270px;
}

footer {
	font-size : 12px;
	color:grey;
	margin:10px;
}

footer a, footer a:visited{
	color:grey;
}

footer a:hover {
	color:black;
}
